@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "mixins";

.article-write {
  .form-input {
    margin: 1em 0;
  }

  label {
    display: none;
  }

  #title, #content {
    width: 100%;
    box-sizing: border-box;
  }

  #id_title {
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    padding: .5em 0;
    border: none;
    outline: none;
  }

  #content {
    height: 200px;
    resize: vertical;
    border: none;
    outline: none;
  }

  .editor {
    font-size: 1.5em;
    
    i {
      cursor: pointer;
      margin: 0 .2em;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}