@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "mixins";

$footerContentsHeight: 250px;
$footerNoticeHeight: 50px;

footer {
  width: 100%;
  background-color: #333333;
  color: white;

  .footer-contents {
    display: flex;
    justify-content: space-between;
    min-height: auto;
    height: $footerContentsHeight;
  }

  .content {
    width: 50%;
    height: 100%;
    padding: 2em 0;
    box-sizing: border-box;

    &:first-child {
      //width: 400px;
      padding-right: 1.5em;
    }

    &:last-child {
      padding-left: 1.5em;
    }
  }

  #map {
    width: 100%;
    height: 100%;
  }

  h1, h2 {
    margin: 0;
  }

  h1 {
    font-size: 1em;
    font-weight: bold;
  }

  h2 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;

    &::before {
      content: '';
      width: 30px;
      height: 5px;
      display: block;
      background-color: $pointColor;
    }
  }

  p {
    font-size: .9em;
    margin: .5em 0;
  }

  button {
    color: white;
    border-color: white;
  }

  .contact-us {
    p::before {
      display: inline-block;
      font-size: 1.1em;
      width: 1.3em;
      text-align: center;
      vertical-align: middle;
    }

    .address::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-map-marker-alt);
    }

    .tel::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-phone-alt);
    }

    .email::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-envelope);
    }
  }

  .notice {
    height: $footerNoticeHeight;
    line-height: $footerNoticeHeight;

    .recent-notice-label {
      font-weight: bold;
      margin-right: 2em;
    }

    .recent-notice {
      color: white;
      text-decoration: none;

      &:hover .title {
        text-decoration: underline;
      }

      .title {
        margin-right: 2em;
      }

      .date::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-calendar-alt);
      }

      .date {
        margin-right: 2em;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  footer {
    .footer-contents {
      justify-content: normal;
      flex-direction: column-reverse;
      height: auto;

      .content {
        width: 100%;
        padding: 2em 0 0 0;

        &:first-child {
          padding-bottom :2em;
        }
      }
    }

    #map {
      height: 200px;
    }
  }
}