@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "mixins";

$profileImageLength: 250px;

.professor {
  .profile-container {
    padding-top: 40px;
    animation: fadeIn 1s;
    display: flex;
    justify-content: space-between;
  }

  .profile {
    width: $profileImageLength;
    vertical-align: top;
    position: relative;
    //left: 200px;
    //animation: profileFadeIn .5s ease forwards;

    .image {
      position: relative;
      display: inline-block;
      width: $profileImageLength;
      height: $profileImageLength;
      border-radius: $profileImageLength / 2;
      margin: 0 auto 1em auto;
      background-image: url(/static/images/blank-profile.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    img {
      width: $profileImageLength;
      height: $profileImageLength;
      border-radius: $profileImageLength / 2;
      margin: 0 auto 1em auto;
    }

    .name {
      text-align: center;
      font-size: 1.8em;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: .2em;
    }

    .info {
      margin: .5em 0;

      &::before {
        display: inline-block;
        font-size: 1.1em;
        width: 1.3em;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
      }

      &.position::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-user);
      }

      &.location::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-map-marker-alt);
      }

      &.email::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-envelope);
      }
    }
  }

  .careers {
    max-width: calc(100% - #{$profileImageLength});
    padding-left: 3rem;
    box-sizing: border-box;

    .menu {
      margin-bottom: 5em;
    }

    .list-header {
      font-size: 1.4em;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 1.2em;

      &::before {
        content: '';
        display: block;
        width: 23px;
        height: 4px;
        background-color: $pointColor;
      }
    }

    .list {
      list-style: none;
      padding: 0;

      .item {
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;

        .year {
          min-width: 60px;
          display: inline-block;
          vertical-align: top;
          margin: 0;
          padding-right: 1em  ;
          font-size: 1em;
          font-weight: bold;
        }

        .content {
          flex: 1;
          display: inline-block;
          width: 100%;

          .title {
            font-size: 1.2em;
            font-weight: bold;
          }

          .subtitle {
            font-size: 1em;
          }

          .description {
            font-size: .8em;
          }

          .title, .subtitle, .description {
            margin-top: 0;
            margin-bottom: .2em;
          }

          .title {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .list-header .control {
    font-size: .7em;
    font-weight: normal;
  }


  .careers.editor {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .careers.editor .content {
    margin-left: 1em;
  }

  form {
    label {
      cursor: pointer;

      &:hover .image::before {
        content: "이미지 선택";
        text-align: center;
        color: white;
        font-size: 2em;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        line-height: $profileImageLength;
        border-radius: $profileImageLength / 2;
        background-color: rgba(0, 0, 0, .1);
      }
    }

    .image-upload {
      display: none;
    }

    #id_name, #id_position, #id_location, #id_email {
      border: none;
      border-bottom: 1px solid black;
      padding: 4px 2px;
      box-sizing: border-box;
      outline: none;

      &:focus {
        border-bottom: 3px solid black;
      }
    }

    #id_name {
      text-align: center;
      width: 100%;
      font-weight: bold;
    }

    #id_header {
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      font-weight: bold;
      padding: 8px 0;
    }

    #id_menu {
      font-weight: bold;
      border: none;
      border-bottom: 1px solid black;
    }

    #id_year {
      width: 60px;
      display: inline-block;
      vertical-align: top;
      margin: 0;
      padding: 4px;
      font-size: 1em;
      font-weight: bold;
    }

    #id_title {
      font-weight: bold;
    }

    #id_description {
      resize: none;
    }

    #id_year, #id_title, #id_subtitle, #id_description {
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
      padding: 4px;
      margin: 4px 0;
      box-sizing: border-box;
      outline: none;
    }
  }
}


@media screen and (max-width: 768px) {
  .professor {
    .profile-container {
      justify-content: normal;
      flex-direction: column;
    }

    .profile {
      margin: 0 auto;
    }

    .careers {
      margin-top: 80px;
      max-width: 100%;
      padding: 0;

      .list {
        .item {
          justify-content: normal;
          flex-direction: column;

          .year {
            padding-right: 0;
          }

          .content {
            margin: 0;
          }
        }
      }
    }
  }

}

@keyframes profileFadeIn {
  from {
    left: 200px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}