@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "mixins";

.publications {
  .list {
    margin: 0;
    padding-left: 1.5em;
    animation: fadeIn 1s ease;

    .item {
      margin-bottom: 2em;

      h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }

  form {
    textarea {
      width: 100%;
      height: 200px;
      padding: 10px;
      font-size: 1em;
      resize: vertical;
    }

    input[type="text"] {
      @include textbox;
      width: 100%;
    }

    p {
      font-size: .9em;
    }

    label {
      display: none;
    }

  }

  #saveButton {
    .loading {
      display: none;
    }

    .loading::before {
      @extend %fa-icon;
      @extend .fas;

      content: fa-content($fa-var-spinner);
      animation: spinner 1s infinite linear;
    }
  }

  .edit-order {
    .item {
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

      &:active {
        cursor: grabbing !important;
        cursor: -moz-grabbing !important;
        cursor: -webkit-grabbing !important;
      }

      &.ghost {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}