{% extends 'base.html' %}

{% load sass_tags %}
{% load static %}


{% block title %}
<title>Publications 수정 - {{ site.title }}</title>
{% endblock %}

{% block style %}
<link href="{% sass_src 'stylesheets/publications.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
    <section class="header-middle">
        <h2>Publications</h2>
        <p>{{ site.page_subtitle }}</p>
    </section>
    <main>
        <section class="publications page">
            {% if user.is_authenticated %}
                <h2 class="page-header">Publications 수정</h2>
                <form method="post" action="{% url 'publications_edit' publication.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    {% for item in form %}
                        {% if item.errors %}
                            {% for error in item.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="수정하기" />
                    <a href="{% url 'publications_delete' publication.id %}" class="delete"><i class="fas fa-trash-alt"></i> 삭제하기</a>
                </form>
            {% else %}
                <p>관리자 전용 페이지입니다</p>
            {% endif %}
        </section>
    </main>
{% endblock %}