{% extends 'base.html' %}

{% load sass_tags %}
{% load static %}


{% block title %}
<title>교수님 소개 메뉴 수정 - {{ site.title }}</title>
{% endblock %}

{% block style %}
<link href="{% sass_src 'stylesheets/professor.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <section class="header-middle">
        <h2>교수님 소개</h2>
        <p>{{ site.page_subtitle }}</p>
    </section>
    <main>
        <article class="professor page">
            {% if user.is_authenticated %}
                <h2 class="page-header">
                    교수님 소개 메뉴 수정
                </h2>
                <form method="post" action="{% url 'professor_menu_edit' menu.id %}" enctype="multipart/form-data">
                    <section class="careers editor">
                        {% csrf_token %}
                        <h3 class="list-header">
                            {{ form.header }}
                            {% if form.header.errors %}
                                {% for error in form.header.errors %}
                                    <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </h3>
                        <input type="submit" value="수정하기" />
                        <a href="{% url 'professor_menu_delete' menu.id %}" class="delete"><i class="fas fa-trash-alt"></i> 삭제하기</a>
                    </section>
                </form>
            {% else %}
                <p>관리자 전용 페이지입니다.</p>
            {% endif %}
        </article>
    </main>
{% endblock %}

